<%- include('includes/header'); %>
<div class="title-bar">
  <h2>Dokument</h2>
  <a class="button" href="/create">Create Document</a>
</div>
<div class="docs-container">
  <% docs.reverse().forEach(function(doc){ %>
  <a class="doc-link" href="/<%= doc.id %>">
    <div>
      <div class="doc"></div>
      <h3><%= doc.title %></h3>
    </div>
  </a>
  <% }); %>
</div>
<%- include('includes/footer'); %>
