RewriteEngine on

# Allow access to actual files (CSS, JS, images, etc.)
RewriteCond %{REQUEST_FILENAME} -f
RewriteRule ^ - [L]

# Allow access to directories (e.g., /static/)
RewriteCond %{REQUEST_FILENAME} -d
RewriteRule ^ - [L]

# For requests via www.student.bth.se, route all non-file requests to the React app's index.html
RewriteCond %{HTTP_HOST} ^www\.student\.bth\.se$ [NC]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^ /~jogo19/editor/index.html [L]

# For requests via other hosts, route all non-file requests to the React app's index.html
RewriteCond %{HTTP_HOST} !^www\.student\.bth\.se$ [NC]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^ /index.html [L]